@import url('//fonts.googleapis.com/css?family=Josefin+Slab:400,700');

/* 深色藍 004e89 稍淺藍 1a659e */
body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2a9d8f;
    font-weight: bold;
}

.st-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container>input,
.st-container>a {
    position: fixed;
    bottom: 0px;
    width: 25%;
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
}

.st-container>input {
    opacity: 0;
    z-index: 1000;
}

.st-container>a {
    z-index: 10;
    font-weight: 700;
    background: #ff6b35;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(247, 197, 159, 0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    background: #ff6b35;
    z-index: 9;
    bottom: 0;
}

#st-control-1,
#st-control-1+a {
    left: 0;
}

#st-control-2,
#st-control-2+a {
    left: 25%;
}

#st-control-3,
#st-control-3+a {
    left: 50%;
}

#st-control-4,
#st-control-4+a {
    left: 75%;
}

.st-container>input:checked+a,
.st-container>input:checked:hover+a {
    background: #264653;
}

.st-container>input:checked+a:after,
.st-container>input:checked:hover+a:after {
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #264653;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.st-container>input:hover+a {
    background: #e9c46a;
}

.st-container>input:hover+a:after {
    border-bottom-color: #e9c46a;
}

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.st-scroll {
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.st-panel {
    background: #fff;
    overflow: scroll;
}

#st-control-1:checked~.st-scroll {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

#st-control-2:checked~.st-scroll {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

#st-control-3:checked~.st-scroll {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}

#st-control-4:checked~.st-scroll {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}

#st-control-5:checked~.st-scroll {
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
    transform: translateY(-400%);
}


/* Content elements */

.st-deco {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -100px;
    background: #2a9d8f;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontAwesome';
    color: #fff;
    text-shadow: 1px 1px 1px rgba(247, 197, 159, 0.2);
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 90px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    -webkit-transform: rotate(-45deg) translateY(25%);
    -moz-transform: rotate(-45deg) translateY(25%);
    -o-transform: rotate(-45deg) translateY(25%);
    -ms-transform: rotate(-45deg) translateY(25%);
    transform: rotate(-45deg) translateY(25%);
}

.st-panel h2 {
    color: #2a9d8f;
    text-shadow: 1px 1px 1px rgba(0, 78, 137, 0.2);
    position: absolute;
    font-size: 54px;
    font-weight: 900;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 50px;
    margin: -70px 0 0 0;
    padding: 0;
    top: 25%;
    -webkit-backface-visibility: hidden;
}

#st-control-1:checked~.st-scroll #st-panel-1 h2,
#st-control-2:checked~.st-scroll #st-panel-2 h2,
#st-control-3:checked~.st-scroll #st-panel-3 h2,
#st-control-4:checked~.st-scroll #st-panel-4 h2,
#st-control-5:checked~.st-scroll #st-panel-5 h2 {
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes moveDown {
    0% {
        -moz-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes moveDown {
    0% {
        -o-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@-ms-keyframes moveDown {
    0% {
        -ms-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.st-panel p,
.st-panel div:not(.st-deco) {
    font-size: 16px;
    line-height: 22px;
    color: #8b8b8b;
    z-index: 2;
    margin: 10px 0 0 0;
    -webkit-backface-visibility: hidden;
}

.st-panel p,
.st-panel div.st-content {
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    height: 100%;
}

/* 
#st-panel-1 .left-panel,
#st-panel-1 .right-panel {
    width: 50%;
} */

.right-panel div:last-of-type {
    padding-bottom: 50px;
}

.left-panel img {
    width: 100%;
}

#st-control-1:checked~.st-scroll #st-panel-1 p,
#st-control-1:checked~.st-scroll #st-panel-1 div:not(.st-deco),
#st-control-2:checked~.st-scroll #st-panel-2 p,
#st-control-1:checked~.st-scroll #st-panel-2 div:not(.st-deco),
#st-control-3:checked~.st-scroll #st-panel-3 p,
#st-control-1:checked~.st-scroll #st-panel-3 div:not(.st-deco),
#st-control-4:checked~.st-scroll #st-panel-4 p,
#st-control-1:checked~.st-scroll #st-panel-4 div:not(.st-deco),
#st-control-5:checked~.st-scroll #st-panel-5 p,
#st-control-1:checked~.st-scroll #st-panel-5 div:not(.st-deco) {
    -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

.st-panel div.left-panel {
    margin-left: 10px;
    width: 30%;
    padding-right: 5px;
}

.st-panel div.right-panel {
    width: 65%;
    padding-left: 5px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@-ms-keyframes moveUp {
    0% {
        -ms-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Colored sections */

.st-color,
.st-deco {
    background: #2a9d8f;
}

.st-color [data-icon]:after {
    color: #2a9d8f;
}

.st-color .st-deco {
    background: #fff;
}

.st-color h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.st-color p,
.st-color div {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 520px) {
    .st-panel h2 {
        font-size: 42px;
    }

    .st-content {
        flex-direction: column;
    }

    .st-panel p,
    .st-panel div:not(.st-deco) {
        width: 90%;
        left: 5%;
        margin-top: 0;
    }

    .st-container>a {
        font-size: 13px;
    }
}

@media screen and (max-width: 360px) {
    .st-container>a {
        font-size: 10px;
    }

    .st-deco {
        width: 120px;
        height: 120px;
        margin-left: -60px;
    }

    [data-icon]:after {
        font-size: 60px;
        -webkit-transform: rotate(-45deg) translateY(15%);
        -moz-transform: rotate(-45deg) translateY(15%);
        -o-transform: rotate(-45deg) translateY(15%);
        -ms-transform: rotate(-45deg) translateY(15%);
        transform: rotate(-45deg) translateY(15%);
    }
}

/** button group**/
.button-group {
    margin: 100px auto;
    margin-bottom: 30px;
    text-align: center;
}

.button-group .button {
    background: rgb(38 70 83 / 10%);
    border: none;
    width: 80px;
    height: 50px;
    padding: 20px;
    display: inline-block;
    margin: -2px;
    color: #2a9d8f;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
}

.button-group .button span {
    text-align: center;
    margin: 20px 0 0 -30px;
    display: block;
    font-size: 54px;
    text-shadow: none;
}

.button-group .button:hover {
    background: #2a9d8f;
    color: #fff;
}

.button-group .button.active {
    text-shadow: 0 0 10px rgba(181, 26, 30, 0.4);
    background: #2a9d8f;
    color: #fff;
    transform: translate(10px, -10px);
    z-index: 100;
    box-shadow: -8px 8px 0px 2px rgba(28, 28, 28, 0.3);
    cursor: default;
}

/**table**/
table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #264653;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background: #f4f4f4;
}

table tr:hover td {
    color: #555;
}

table th,
table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

table th {
    background: #264653;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table th.last {
    border-right: none;
}