<div class="container">
    <div class="st-container">
        <input type="radio" name="radio-set" checked="checked" id="st-control-1" />
        <a href="#st-panel-1">OVERVIEW</a>
        <input type="radio" name="radio-set" id="st-control-2" />
        <a href="#st-panel-2">Result</a>
        <input type="radio" name="radio-set" id="st-control-3" />
        <a href="#st-panel-3">Input</a>
        <input type="radio" name="radio-set" id="st-control-4" />
        <a href="#st-panel-4">Extended</a>
    </div>
    {{}}
</div>