@import url('//fonts.googleapis.com/css?family=Josefin+Slab:400,700');

/* 深色藍 004e89 稍淺藍 1a659e */
body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2a9d8f;
    font-weight: bold;
    margin-bottom: 10px;
}

#st-panel-2 h1, #st-panel-2 h2, #st-panel-2 h3, #st-panel-2 h4, #st-panel-2 h5,
#st-panel-4 h1, #st-panel-4 h2, #st-panel-4 h3, #st-panel-4 h4, #st-panel-4 h5,
#st-panel-2 table tr:not(:hover) td, #st-panel-4 table tr:not(:hover) td {
    color: #fff;
}

.st-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container>input,
.st-container>a {
    position: fixed;
    bottom: 0px;
    width: 25%;
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
}

.st-container>input {
    opacity: 0;
    z-index: 1000;
}

.st-container>a {
    z-index: 10;
    font-weight: 700;
    background: #ff6b35;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(247, 197, 159, 0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    background: #ff6b35;
    z-index: 9;
    bottom: 0;
}

#st-control-1,
#st-control-1+a {
    left: 0;
}

#st-control-2,
#st-control-2+a {
    left: 25%;
}

#st-control-3,
#st-control-3+a {
    left: 50%;
}

#st-control-4,
#st-control-4+a {
    left: 75%;
}

.st-container>input:checked+a,
.st-container>input:checked:hover+a {
    background: #264653;
}

.st-container>input:checked+a:after,
.st-container>input:checked:hover+a:after {
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #264653;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.st-container>input:hover+a {
    background: #e9c46a;
}

.st-container>input:hover+a:after {
    border-bottom-color: #e9c46a;
}

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.st-scroll {
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.st-panel {
    background: #fff;
    overflow: scroll;
}

#st-control-1:checked~.st-scroll {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

#st-control-2:checked~.st-scroll {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

#st-control-3:checked~.st-scroll {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}

#st-control-4:checked~.st-scroll {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}

#st-control-5:checked~.st-scroll {
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
    transform: translateY(-400%);
}


/* Content elements */

.st-deco {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -100px;
    background: #2a9d8f;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontAwesome';
    color: #fff;
    text-shadow: 1px 1px 1px rgba(247, 197, 159, 0.2);
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 90px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    -webkit-transform: rotate(-45deg) translateY(25%);
    -moz-transform: rotate(-45deg) translateY(25%);
    -o-transform: rotate(-45deg) translateY(25%);
    -ms-transform: rotate(-45deg) translateY(25%);
    transform: rotate(-45deg) translateY(25%);
}

.st-panel h2 {
    color: #2a9d8f;
    text-shadow: 1px 1px 1px rgba(0, 78, 137, 0.2);
    position: absolute;
    font-size: 54px;
    font-weight: 900;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 50px;
    margin: -70px 0 0 0;
    padding: 0;
    top: 35%;
    -webkit-backface-visibility: hidden;
}

#st-control-1:checked~.st-scroll #st-panel-1 h2,
#st-control-2:checked~.st-scroll #st-panel-2 h2,
#st-control-3:checked~.st-scroll #st-panel-3 h2,
#st-control-4:checked~.st-scroll #st-panel-4 h2,
#st-control-5:checked~.st-scroll #st-panel-5 h2 {
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown {
    0% {
        -webkit-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes moveDown {
    0% {
        -moz-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes moveDown {
    0% {
        -o-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@-ms-keyframes moveDown {
    0% {
        -ms-transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.st-panel p,
.st-panel div:not(.st-deco):not(.tooltip) {
    font-size: 16px;
    line-height: 22px;
    color: #8b8b8b;
    z-index: 2;
    margin: 10px 0 0 0;
    -webkit-backface-visibility: hidden;
}

.st-panel p,
.st-panel div.st-content {
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    height: 100%;
}

#st-panel-2 .right-panel, #st-panel-4 .right-panel {
    width: 100%;
}

.w50 {
    width: 50%;
    display: inline-block;
}

.right-panel div:last-of-type:not(.shiny-bound-output),
.left-panel div:last-of-type:not(.shiny-bound-output) {
    padding-bottom: 50px;
}

.left-panel img {
    width: 100%;
}

#st-control-1:checked~.st-scroll #st-panel-1 p,
#st-control-1:checked~.st-scroll #st-panel-1 div:not(.st-deco),
#st-control-2:checked~.st-scroll #st-panel-2 p,
#st-control-1:checked~.st-scroll #st-panel-2 div:not(.st-deco),
#st-control-3:checked~.st-scroll #st-panel-3 p,
#st-control-1:checked~.st-scroll #st-panel-3 div:not(.st-deco),
#st-control-4:checked~.st-scroll #st-panel-4 p,
#st-control-1:checked~.st-scroll #st-panel-4 div:not(.st-deco),
#st-control-5:checked~.st-scroll #st-panel-5 p,
#st-control-1:checked~.st-scroll #st-panel-5 div:not(.st-deco) {
    -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

.st-panel div.left-panel {
    margin-left: 10px;
    width: 30%;
    padding-right: 5px;
}

.st-panel div.right-panel {
    width: 65%;
    padding-left: 5px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@-ms-keyframes moveUp {
    0% {
        -ms-transform: translateY(40px);
        opacity: 0;
    }

    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Colored sections */

.st-color,
.st-deco {
    background: #2a9d8f;
}

.st-color [data-icon]:after {
    color: #2a9d8f;
}

.st-color .st-deco {
    background: #fff;
}

.st-color h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.st-color p,
.st-color div {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 520px) {
    .st-panel h2 {
        font-size: 42px;
    }

    .st-content {
        flex-direction: column;
    }

    .st-panel p,
    .st-panel div:not(.st-deco) {
        width: 90%;
        left: 5%;
        margin-top: 0;
    }

    .st-container>a {
        font-size: 13px;
    }
}

@media screen and (max-width: 360px) {
    .st-container>a {
        font-size: 10px;
    }

    .st-deco {
        width: 120px;
        height: 120px;
        margin-left: -60px;
    }

    [data-icon]:after {
        font-size: 60px;
        -webkit-transform: rotate(-45deg) translateY(15%);
        -moz-transform: rotate(-45deg) translateY(15%);
        -o-transform: rotate(-45deg) translateY(15%);
        -ms-transform: rotate(-45deg) translateY(15%);
        transform: rotate(-45deg) translateY(15%);
    }
}

.text-orange {
    color: #ff6b35!important;
}

.text-white {
    color: #fff!important;
}

.text-green {
    color: #2a9d8f!important;
}

.text-darkgreen {
    color: #264653!important;
}

/** button group**/
.button-group {
    margin: 100px auto;
    margin-bottom: 30px;
    text-align: center;
}

.button-group .button {
    background: #264653;
    border: none;
    width: 80px;
    height: 50px;
    padding: 20px;
    display: inline-block;
    margin: -2px;
    color: #fff;
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
}

.button-group .button span {
    text-align: center;
    margin: 20px 0 0 -30px;
    display: block;
    font-size: 54px;
    text-shadow: none;
}

.button-group .button:hover {
    background: #e9c46a;
    color: #fff;
}

.button-group .button.active {
    text-shadow: 0 0 10px rgba(181, 26, 30, 0.4);
    background: #ff6b35;
    color: #fff;
    transform: translate(10px, -10px);
    z-index: 100;
    box-shadow: -8px 8px 0px 2px rgba(28, 28, 28, 0.3);
    cursor: default;
}

/* refresh button */
#random_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random_buttons .postlink {
    display: inline-block;
    text-align: center;
    border-color: #3E82E6;
  }
#random_buttons .postlink:hover {
    border-color: #FFCA00;
}
  
#refresh, .postlink {
    width: 200px;
    height: 70px;
    margin: 10px;
    font-size: 22px;
    border: 3px solid #28F2B3;
    color: white;
    line-height: 64px;
    background: none;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0 5px #222;
    border-radius: 70px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    text-align: center;
}
#refresh:hover, .postlink:hover {
    border-color: #FFCA00;
}

/**table**/
table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #264653;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background: #f4f4f4;
}

table tr:hover td {
    color: #555;
}

table th,
table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

table th {
    background: #264653;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table th.last {
    border-right: none;
}

.st-content .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.st-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.st-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #264653!important;
    color: #fff!important;
    border: none!important;
    font-weight: 500;
}

.st-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.st-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #2a9d8f!important;
}

/** slider input **/
.slider-container {
    width: 100%;
    padding: 20px 0 20px 0;
}

.slider {
    width: 100%;
    padding: 0 40px;
}
.slider input {
    background: linear-gradient(to right, #10d5c2 0%, #10d5c2 100%, #eaeefb 100%, #eaeefb 100%);
    border-radius: 8px;
    height: 8px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    transition: all 450ms ease-in;
    -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg) #10d5c2 center no-repeat;
    box-shadow: 0px 10px 20px 0px rgba(16, 213, 194, 0.7);
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}
.slider input::-webkit-slider-thumb:hover {
    background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg) #1be6d1 center no-repeat;
}
.slider input::-webkit-slider-thumb:active {
    cursor: grabbing;
    background: url(https://raw.githubusercontent.com/milenig/fend-mentor_pricing-component/3ccfd6b18e87377a950915288ef64c896969bf62/images/icon-slider.svg) #0dbead center no-repeat;
}

/*tooltip Box*/
.con-tooltip {
    position: relative;
    border-radius: 9px;
    padding: 0 20px;
    margin: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  
  /*tooltip */
  .tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    
    width: 55px;
    padding: 10px!important;
    background: #333;
    color: #fff;
    
    position: absolute;
    top:-40%;
    left: 40%;
  
    border-radius: 9px;
    font: 16px;

    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
    text-align: center;
  }
  
  .con-tooltip:hover .tooltip{
    visibility: visible;
    transform: translateY(20px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;
  
  }
  @keyframes odsoky {
    0%{
      transform: translateY(6px);	
    }
  
    100%{
      transform: translateY(1px);	
    }
  
  }

/*hover ToolTip*/
.bottom:hover {transform: translateY(6px);}

/*bottom*/
.bottom .tooltip { top:115%; left: 40%; }